<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Nicolas Walter</title>
    <link rel="stylesheet" type="text/css" href="/static/css/briefStyle.css">
    <link rel="icon" href="{{ url_for('static', filename='Ico.ico') }}" type="image/x-icon">
    <script src="/static/js/briefScript.js"></script>
</head>
<body>
    <div class="center">
        <img id="env" onclick="changeEnvelope()" class="envelope oneone bottom" src="https://cdn-icons-png.flaticon.com/512/2218/2218521.png" alt="Env">
        <img id="kiss" onclick="changeEnvelope()" class="kiss oneone top" src="https://cdn-icons-png.flaticon.com/128/9603/9603674.png" alt="Kiss">
        <img id="envToHideKiss" onclick="changeEnvelope()" class="envelope oneone hider" src="https://cdn-icons-png.flaticon.com/512/2218/2218521.png" alt="Env">
    </div>
</body>
</html>