<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Nicolas Walter</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" href="{{ url_for('static', filename='Ico.ico') }}" type="image/x-icon">
    <script src="/static/js/indexScript.js"></script>
</head>
<body>
    <div class="start">
        <div class="head fadetooutside">
            <h1>Nicolas Walter</h1>
        </div>
        <div class="buttonForLogin">
            <button class="start-button custom-button" onclick="getToLogin()">Login</button>
        </div>
    </div>
</body>
</html>