<!DOCTYPE html>
<html lang="de" style="height: 95%;">
<head>
    <meta charset="UTF-8">
    <title>LOAD</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" href="{{ url_for('static', filename='Ico.ico') }}" type="image/x-icon">
</head>
<body style="height: 100%">
    <button type="button" class="start-button custom-button" onclick="window.location.href = 'start' +
     '';">BACK</button>
    <div class="container">
        <div class="login">
            <h1>LOAD</h1>
            <br>
            <form id="loadSave" action="{{ url_for('checkID') }}" method="post">
                <label for="idForid">ID:</label>
                <input class="submit" type="text" id="idForid" name="id">
                <button type="submit" class="submit custom-button" style="margin-top: 50px;">Login</button>
            </form>
        </div>

        {% include 'allSaves.html' %}

    </div>
</body>
</html>