<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{{ session['id'] }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" href="{{ url_for('static', filename='Ico.ico') }}" type="image/x-icon">
</head>
<body>
<div>
    <div class="center">
        <button type="button" class="custom-button load-store" onclick="window.location.href = 'start';">Cancel</button>
        <button type="button" class="custom-button load-store" onclick="save()">Save</button>
    </div>
    <div id="textfield" class="ta" contenteditable="true">Hi</div>
</div>
</body>
<script src="/static/js/load-save.js"></script>
</html>